#firm .items .item {
  display: flex;
  text-align: left;
}

#firm .items .item i {
  margin-right: 1.3rem;
  align-self: flex-start;
  margin-bottom: 0;
}

#contact .map {
  flex: 1;
}

#contact .contact-form {
  flex: 0.5;
}
